<!-- /sections/gsa-waves-feature.liquid -->
{%- liquid
    assign bg_color = section.settings.bg_color
    assign waves = section.settings.wave_type
  -%}
  
  {%- style -%}
    #gsa-waves-feature--{{ section.id }} {
      --PT: {{ section.settings.padding_top }}px;
      --PB: {{ section.settings.padding_bottom }}px;
  
      {%- unless bg_color == 'rgba(0,0,0,0)' or bg_color == blank -%}
        --bg: {{ bg_color }};
      {%- endunless -%}
  
    }
  {%- endstyle -%}
  
  <section id="gsa-waves-feature--{{ section.id }}"
    class="index-rte section-padding"
    data-section-id="{{ section.id }}"
    data-section-type="rich-text"
    style="margin: -8px 0px;">


    <svg id="wave" style="margin: -2px 0px; transform:rotate({{ section.settings.wave_orientation }});" viewBox="0 0 1440 170" version="1.1" xmlns="http://www.w3.org/2000/svg">
    {%- case waves -%}
    {%- when 'wave_01' -%}
        <path style="transform:translate(0, 0px); opacity:1" fill="{{ section.settings.wave_color }}" d="M0,126L120,126C240,126,480,126,720,114C960,102,1200,78,1440,84C1680,90,1920,126,2160,135C2400,144,2640,126,2880,117C3120,108,3360,108,3600,114C3840,120,4080,132,4320,132C4560,132,4800,120,5040,123C5280,126,5520,144,5760,129C6000,114,6240,66,6480,42C6720,18,6960,18,7200,18C7440,18,7680,18,7920,18C8160,18,8400,18,8640,24C8880,30,9120,42,9360,54C9600,66,9840,78,10080,75C10320,72,10560,54,10800,42C11040,30,11280,24,11520,33C11760,42,12000,66,12240,90C12480,114,12720,138,12960,129C13200,120,13440,78,13680,78C13920,78,14160,120,14400,123C14640,126,14880,90,15120,75C15360,60,15600,66,15840,66C16080,66,16320,60,16560,72C16800,84,17040,114,17160,129L17280,144L17280,180L17160,180C17040,180,16800,180,16560,180C16320,180,16080,180,15840,180C15600,180,15360,180,15120,180C14880,180,14640,180,14400,180C14160,180,13920,180,13680,180C13440,180,13200,180,12960,180C12720,180,12480,180,12240,180C12000,180,11760,180,11520,180C11280,180,11040,180,10800,180C10560,180,10320,180,10080,180C9840,180,9600,180,9360,180C9120,180,8880,180,8640,180C8400,180,8160,180,7920,180C7680,180,7440,180,7200,180C6960,180,6720,180,6480,180C6240,180,6000,180,5760,180C5520,180,5280,180,5040,180C4800,180,4560,180,4320,180C4080,180,3840,180,3600,180C3360,180,3120,180,2880,180C2640,180,2400,180,2160,180C1920,180,1680,180,1440,180C1200,180,960,180,720,180C480,180,240,180,120,180L0,180Z"></path>
    {%- when 'wave_02' -%}
        <path style="transform:translate(0, 0px); opacity:1" fill="{{ section.settings.wave_color }}" d="M0,126L80,126C160,126,320,126,480,114C640,102,800,78,960,84C1120,90,1280,126,1440,135C1600,144,1760,126,1920,117C2080,108,2240,108,2400,114C2560,120,2720,132,2880,132C3040,132,3200,120,3360,123C3520,126,3680,144,3840,129C4000,114,4160,66,4320,42C4480,18,4640,18,4800,18C4960,18,5120,18,5280,18C5440,18,5600,18,5760,24C5920,30,6080,42,6240,54C6400,66,6560,78,6720,75C6880,72,7040,54,7200,42C7360,30,7520,24,7680,33C7840,42,8000,66,8160,90C8320,114,8480,138,8640,129C8800,120,8960,78,9120,78C9280,78,9440,120,9600,123C9760,126,9920,90,10080,75C10240,60,10400,66,10560,66C10720,66,10880,60,11040,72C11200,84,11360,114,11440,129L11520,144L11520,180L11440,180C11360,180,11200,180,11040,180C10880,180,10720,180,10560,180C10400,180,10240,180,10080,180C9920,180,9760,180,9600,180C9440,180,9280,180,9120,180C8960,180,8800,180,8640,180C8480,180,8320,180,8160,180C8000,180,7840,180,7680,180C7520,180,7360,180,7200,180C7040,180,6880,180,6720,180C6560,180,6400,180,6240,180C6080,180,5920,180,5760,180C5600,180,5440,180,5280,180C5120,180,4960,180,4800,180C4640,180,4480,180,4320,180C4160,180,4000,180,3840,180C3680,180,3520,180,3360,180C3200,180,3040,180,2880,180C2720,180,2560,180,2400,180C2240,180,2080,180,1920,180C1760,180,1600,180,1440,180C1280,180,1120,180,960,180C800,180,640,180,480,180C320,180,160,180,80,180L0,180Z"></path>
    {%- when 'wave_03' -%}
        <path style="transform:translate(0, 0px); opacity:1" fill="{{ section.settings.wave_color }}" d="M0,126L60,126C120,126,240,126,360,114C480,102,600,78,720,84C840,90,960,126,1080,135C1200,144,1320,126,1440,117C1560,108,1680,108,1800,114C1920,120,2040,132,2160,132C2280,132,2400,120,2520,123C2640,126,2760,144,2880,129C3000,114,3120,66,3240,42C3360,18,3480,18,3600,18C3720,18,3840,18,3960,18C4080,18,4200,18,4320,24C4440,30,4560,42,4680,54C4800,66,4920,78,5040,75C5160,72,5280,54,5400,42C5520,30,5640,24,5760,33C5880,42,6000,66,6120,90C6240,114,6360,138,6480,129C6600,120,6720,78,6840,78C6960,78,7080,120,7200,123C7320,126,7440,90,7560,75C7680,60,7800,66,7920,66C8040,66,8160,60,8280,72C8400,84,8520,114,8580,129L8640,144L8640,180L8580,180C8520,180,8400,180,8280,180C8160,180,8040,180,7920,180C7800,180,7680,180,7560,180C7440,180,7320,180,7200,180C7080,180,6960,180,6840,180C6720,180,6600,180,6480,180C6360,180,6240,180,6120,180C6000,180,5880,180,5760,180C5640,180,5520,180,5400,180C5280,180,5160,180,5040,180C4920,180,4800,180,4680,180C4560,180,4440,180,4320,180C4200,180,4080,180,3960,180C3840,180,3720,180,3600,180C3480,180,3360,180,3240,180C3120,180,3000,180,2880,180C2760,180,2640,180,2520,180C2400,180,2280,180,2160,180C2040,180,1920,180,1800,180C1680,180,1560,180,1440,180C1320,180,1200,180,1080,180C960,180,840,180,720,180C600,180,480,180,360,180C240,180,120,180,60,180L0,180Z"></path>
    {%- when 'wave_04' -%}
        <path style="transform:translate(0, 0px); opacity:1" fill="{{ section.settings.wave_color }}" d="M0,126L48,126C96,126,192,126,288,114C384,102,480,78,576,84C672,90,768,126,864,135C960,144,1056,126,1152,117C1248,108,1344,108,1440,114C1536,120,1632,132,1728,132C1824,132,1920,120,2016,123C2112,126,2208,144,2304,129C2400,114,2496,66,2592,42C2688,18,2784,18,2880,18C2976,18,3072,18,3168,18C3264,18,3360,18,3456,24C3552,30,3648,42,3744,54C3840,66,3936,78,4032,75C4128,72,4224,54,4320,42C4416,30,4512,24,4608,33C4704,42,4800,66,4896,90C4992,114,5088,138,5184,129C5280,120,5376,78,5472,78C5568,78,5664,120,5760,123C5856,126,5952,90,6048,75C6144,60,6240,66,6336,66C6432,66,6528,60,6624,72C6720,84,6816,114,6864,129L6912,144L6912,180L6864,180C6816,180,6720,180,6624,180C6528,180,6432,180,6336,180C6240,180,6144,180,6048,180C5952,180,5856,180,5760,180C5664,180,5568,180,5472,180C5376,180,5280,180,5184,180C5088,180,4992,180,4896,180C4800,180,4704,180,4608,180C4512,180,4416,180,4320,180C4224,180,4128,180,4032,180C3936,180,3840,180,3744,180C3648,180,3552,180,3456,180C3360,180,3264,180,3168,180C3072,180,2976,180,2880,180C2784,180,2688,180,2592,180C2496,180,2400,180,2304,180C2208,180,2112,180,2016,180C1920,180,1824,180,1728,180C1632,180,1536,180,1440,180C1344,180,1248,180,1152,180C1056,180,960,180,864,180C768,180,672,180,576,180C480,180,384,180,288,180C192,180,96,180,48,180L0,180Z"></path>
    {%- when 'wave_05' -%}
        <path style="transform:translate(0, 0px); opacity:1" fill="{{ section.settings.wave_color }}" d="M0,126L40,126C80,126,160,126,240,114C320,102,400,78,480,84C560,90,640,126,720,135C800,144,880,126,960,117C1040,108,1120,108,1200,114C1280,120,1360,132,1440,132C1520,132,1600,120,1680,123C1760,126,1840,144,1920,129C2000,114,2080,66,2160,42C2240,18,2320,18,2400,18C2480,18,2560,18,2640,18C2720,18,2800,18,2880,24C2960,30,3040,42,3120,54C3200,66,3280,78,3360,75C3440,72,3520,54,3600,42C3680,30,3760,24,3840,33C3920,42,4000,66,4080,90C4160,114,4240,138,4320,129C4400,120,4480,78,4560,78C4640,78,4720,120,4800,123C4880,126,4960,90,5040,75C5120,60,5200,66,5280,66C5360,66,5440,60,5520,72C5600,84,5680,114,5720,129L5760,144L5760,180L5720,180C5680,180,5600,180,5520,180C5440,180,5360,180,5280,180C5200,180,5120,180,5040,180C4960,180,4880,180,4800,180C4720,180,4640,180,4560,180C4480,180,4400,180,4320,180C4240,180,4160,180,4080,180C4000,180,3920,180,3840,180C3760,180,3680,180,3600,180C3520,180,3440,180,3360,180C3280,180,3200,180,3120,180C3040,180,2960,180,2880,180C2800,180,2720,180,2640,180C2560,180,2480,180,2400,180C2320,180,2240,180,2160,180C2080,180,2000,180,1920,180C1840,180,1760,180,1680,180C1600,180,1520,180,1440,180C1360,180,1280,180,1200,180C1120,180,1040,180,960,180C880,180,800,180,720,180C640,180,560,180,480,180C400,180,320,180,240,180C160,180,80,180,40,180L0,180Z"></path>
    {%- when 'wave_06' -%}
        <path style="transform:translate(0, 0px); opacity:1" fill="{{ section.settings.wave_color }}" d="M0,126L30,126C60,126,120,126,180,114C240,102,300,78,360,84C420,90,480,126,540,135C600,144,660,126,720,117C780,108,840,108,900,114C960,120,1020,132,1080,132C1140,132,1200,120,1260,123C1320,126,1380,144,1440,129C1500,114,1560,66,1620,42C1680,18,1740,18,1800,18C1860,18,1920,18,1980,18C2040,18,2100,18,2160,24C2220,30,2280,42,2340,54C2400,66,2460,78,2520,75C2580,72,2640,54,2700,42C2760,30,2820,24,2880,33C2940,42,3000,66,3060,90C3120,114,3180,138,3240,129C3300,120,3360,78,3420,78C3480,78,3540,120,3600,123C3660,126,3720,90,3780,75C3840,60,3900,66,3960,66C4020,66,4080,60,4140,72C4200,84,4260,114,4290,129L4320,144L4320,180L4290,180C4260,180,4200,180,4140,180C4080,180,4020,180,3960,180C3900,180,3840,180,3780,180C3720,180,3660,180,3600,180C3540,180,3480,180,3420,180C3360,180,3300,180,3240,180C3180,180,3120,180,3060,180C3000,180,2940,180,2880,180C2820,180,2760,180,2700,180C2640,180,2580,180,2520,180C2460,180,2400,180,2340,180C2280,180,2220,180,2160,180C2100,180,2040,180,1980,180C1920,180,1860,180,1800,180C1740,180,1680,180,1620,180C1560,180,1500,180,1440,180C1380,180,1320,180,1260,180C1200,180,1140,180,1080,180C1020,180,960,180,900,180C840,180,780,180,720,180C660,180,600,180,540,180C480,180,420,180,360,180C300,180,240,180,180,180C120,180,60,180,30,180L0,180Z"></path>
    {% endcase %}
    </svg> 


  </section>
  
  {% schema %}
  {
    "name": "Waves feature",
    "settings": [
      {
        "type": "select",
        "id": "wave_orientation",
        "label": "Wave orientation",
        "default": "0deg",
        "options": [
          {"value": "0deg", "label": "Upward"},
          {"value": "180deg", "label": "Downward"}
        ]
      },        
      {
        "type": "header",
        "content": "Wave style"
      },
      {
        "type": "select",
        "id": "wave_type",
        "label": "Wave type",
        "default": "wave_01",
        "options": [
          {"value": "wave_01", "label": "1st Wave"},
          {"value": "wave_02", "label": "2nd Wave"},
          {"value": "wave_03", "label": "3rd Wave"},
          {"value": "wave_04", "label": "4th Wave"},
          {"value": "wave_05", "label": "5th Wave"},
          {"value": "wave_06", "label": "6th Wave"}
        ]
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Color 1"
      },
      {
        "type": "color",
        "id": "wave_color",
        "label": "Color 2"
      },
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 100
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 100
      }
    ],
    "presets": [
      {
        "name": "Waves feature",
        "category": "Text"
      }
    ]
  }
  {% endschema %}
  